body {
    position: relative;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

li {
  font-size: 1.25em;
}

p {
  font-size: 1.25em;
}

.centered-list {
  text-align: center;
}

.double-tab {
  margin-left: 80px;
  font-size: 1em;
}

.glyphicon {
  font-size: 4em;
}

.nav>li>a {
  color: #c51a4a;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #c51a4a;
    color: white;
}

.tab {
  margin-left: 40px;
  font-size: 1em;
}

.well-sm {
  font-size: 1em;
  font-family: monospace;
}

#blue {
  color: blue;
  font-weight: bold;
}

#content {
    width:800px;
    margin:0 auto;
    text-align:left;
}

#green {
  color: green;
  font-weight: bold;
}

#image {
  text-align: center;
}

#orange{
  color: orange;
  font-weight: bold;
  font-weight: bold;
}

#purple {
  color: purple;
  font-weight: bold;
}

#red {
  color: red;
  font-weight: bold;
}

#nav {
  background-color: #F5F5F5;
}

#yellow {
  color: yellow;
  font-weight: bold;
}

#you-will-need {
  text-align: center;
}
